<section class="mt-8 max-w-lg">
    <%= simple_form_for @contact, defaults: { input_html: {class: 'form-input mt-1 font-sans'}, wrapper_html: {class: 'flex flex-col my-4'}, label_html: {class: 'mb-1'}} do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
        <%= f.input :name %>
        <%= f.input :phone %>
        <%= f.input :gender %>
        <%= f.input :age %>
        <%= f.input :house_name %>
        <%= f.input :number_of_family_members %>
        <%= f.input :ward %>
        <%= f.association :panchayat, collection: Panchayat.all(), input_html: {class: 'form-select'} %>
        <%= f.input :landmark %>
        <%= f.input :ration_type, input_html: {class: 'form-select'} %>
        <%= f.input :willing_to_pay, input_html: {class: 'form-checkbox'} %>
        <%= f.input :feedback %>
    </div>

    <div class="form-actions">
        <%= f.button :submit %>
    </div>
    <% end %>
</section>
