<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contact.phone %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @contact.gender %>
</p>

<p>
  <strong>Age:</strong>
  <%= @contact.age %>
</p>

<p>
  <strong>House name:</strong>
  <%= @contact.house_name %>
</p>

<p>
  <strong>Ward:</strong>
  <%= @contact.ward %>
</p>

<p>
    <strong>Panchayat:</strong>
    <%= @contact.panchayat.name %>
</p>

<p>
  <strong>Landmark:</strong>
  <%= @contact.landmark %>
</p>

<% @contact.medical_reqs.each do |med_req| %>
    <p>
        <%= med_req.requirement_type %>
    </p>
<% end %>
<% @contact.non_medical_reqs.each do |non_med_req| %>
    <p>
        <%= non_med_req.requirement_type %>
    </p>
<% end %>

<%= render 'medical_reqs/form' %>
<%= render 'non_medical_reqs/form' %>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
